/* this is nav bar section */
body {
    font-family: 'Open Sans', sans-serif;
    
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 120px;

}
.nav-title{
    color: #FD6E0A;
}
.head-title{
    color: black;
    font-size: 65px;
}
.btn-primary{
    background: #FD6E0A;
    border-radius: 5px;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 12px 25px;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 51px;

}
nav a {
    text-decoration: none;
    color: #926d6d;

}

/* this is banner section */
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner-img{
    width: 524px;
    height: 576px;
}