body {
    font-family: 'Open Sans', sans-serif;
    
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-title{
    color: #FD6E0A;
}
.head-title{
    color: black;
    font-size: 65px;
}
.btn-primary{
    background: #FD6E0A;
    border-radius: 5px;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 12px 25px;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 51px;

}
nav a {
    text-decoration: none;
    color: #926d6d;

}

