/* this is nav bar section */
body {
    font-family: 'Open Sans', sans-serif;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 120px;

}

.nav-title {
    color: #FD6E0A;
}

.head-title {
    color: black;
    font-size: 65px;
}

.btn-primary {
    background: #FD6E0A;
    border-radius: 5px;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 12px 25px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;

}

nav a {
    text-decoration: none;
    color: #926d6d;

}

/* this is banner section */

.header {
    background-color: white;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;

}

.banner-content {
    max-width: 550px;
}

.banner-img {
    width: 524px;
    height: 576px;
}

.banner-text {
    color: var(--dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;

}

.banner-head {
    color: black;
    font-size: 70px;
    font-weight: 600px;
    margin-top: 20px;
}

.banner-p {
    display: flex;
    width: 500px;
    flex-direction: column;
    margin-top: 20px;

}

/* this is main section */
main {
    max-width: 1100px;
    margin: 0px auto;
}
main section{
    margin-top: 130px;
}

.about {
    padding: 60px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 120px 0px;
}

.section-title {
    color: var(--dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: var(--dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    margin: 20px auto;
}

.info-container {
    display: flex;
    justify-content: space-around;

}

.about-info {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
#what{
    padding: 30px 120px;
    

}

.section-container{
    display: flex;
    align-items: center;
    gap: 24px;
    
}
.section-class{
    padding: 30px 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: #474747;
    
}

.section-text{
    color: blue;
}
.section-title{
    margin-top: 60px;
}